<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
    <link rel="stylesheet" href="/stylesheets/loading.css">
    <script src="/javascripts/loading.js"></script>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1 id="message"><%= message %></h1>
    <div><%= record %>
    <a href="/loading/2023-NOV-028"> Get Record with rokar</a>
    </div>
    <form id="loadingFrm" method="post" action="/loading">
      
      <div class="frm-field">
        <br>
        <label for="rokar">Rokar Number (रोकड़):</label><br>
        <select id="rokar" name="rokar" required tabindex="1">
          <optgroup label="Select Rokar Number (रोकड़)">

            <% viewData.forEach(function(rokar){ %>
              <option value="<%= rokar %>"><%= rokar %></option>
            <% }) %>
            
          </optgroup>
        </select>
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="vehicleNumber">Vehicle Number (गाड़ी नंबर):</label><br>
        <input type="text" id="vehicleNumber" name="vehicleNumber" value="" required maxlength="10">
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="loadingDate">Loading Date (लोडिंग तारीख):</label><br>
        <input type="datetime-local" id="loadingDate" name="loadingDate" value="">
        <br>
      </div>
      
      <div class="frm-field">
        <br>
        <label for="ponitSale">Ponit Sale (सेल पॉइंट):</label><br>
        <input type="text" id="ponitSale" name="ponitSale" value="" required maxlength="100">
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="buyer">Buyer (खरीदार) :</label><br>
        <input type="text" id="buyer" name="buyer" value="" required maxlength="100">
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="weight">Weight (Metric-Tons) (वजन मीट्रिक टन ):</label><br>
        <input type="number" min="0.00" max="10000.00" step="0.01" id="weight" name="weight" value="0.00" required>
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="rate">Rate(₹) (रेट) :</label><br>
        <input type="number" min="0" max="100000" step="1" id="rate" name="rate" value="0" required>
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="total">Total (₹) (टोटल):</label><br>
        <input type="number" min="0.00" max="10000.00" step="0.01" id="total" name="total" value="000000.00" readonly>
        <br>
      </div>

      <div class="frm-field">
        <br>
        <label for="cr_dr">CR(नगद) / DB (उधार) :</label><br><br>
        <input type="radio" id="cr" name="cr_dr" value="CR" checked><label for="cr_dr">CR(नगद) :</label><br>
        <input type="radio" id="dr" name="cr_dr" value="DR"><label for="cr_dr">DB (उधार) :</label>
        <br>
      </div>
      
      <div class="frm-button">
        <br>
        <button id="loadingFrmSave">Save (सेव करो)</button>
      </div>

    </form>

    <script>
      
      
      function calculate (e) {
          e.preventDefault();

          const weight = document.getElementById("weight").value;
          const rate = document.getElementById("rate").value;
          total.value = weight * rate;
      }

      total.addEventListener("focus", calculate);

    </script>
    
    <%- include('common/footer'); %>
  </body>
</html>
