<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
    <link rel="stylesheet" href="/stylesheets/loading.css">
    <script src="/javascripts/loading.js"></script>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1 id="message"><%= message %></h1>
    <div class="master-select">
      <label for="selectMasterFrm">Select Master Form For Entry (गाड़ी नंबर):</label><br>
      <select id="selectMasterFrm" name="selectMasterFrm" required tabindex="1">
        <option value="1"> Gadi Master Entry ( गाड़ी मास्टर एंट्री ) </option>
        <option value="2"> Seller Master Entry ( सेलर मास्टर एंट्री ) </option>
        <option value="3"> Buyer Master Entry ( खरीदार मास्टर एंट्री ) </option>
        <option value="4"> Driver Master Entry ( ड्राइवर मास्टर एंट्री ) </option>
        <option value="5"> Staff Master Entry ( स्टाफ मास्टर एंट्री ) </option>
      </select>
    </div>
    
    <script>
      
      
      function showForm (e) {
          e.preventDefault();

          alert('Form Selected ');
      }

      selectMasterFrm.addEventListener("select", showForm);

    </script>
    
    <%- include('common/footer'); %>
  </body>
</html>
