<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
    <link rel='stylesheet' type='text/css' href='/stylesheets/report.css' />
    <script src="/javascripts/report.js"></script>


    <!-- <style> 
      thead, 
      tfoot { 
          background-color: green; 
          color: white; 
      } 

      tr th { 
          background-color: green; 
          color: white; 
      } 

      td { 
          text-align: center; 
      } 
  </style>  -->

  </head>
  <body>
    <%- include('common/header'); %>
    <h1><%= message %></h1>
    <nav>
      <a href="/report/Loading_Reports">Loading Reports</a> |
      <a href="/report/Unoading_Reports">Unoading Reports</a>
    </nav>
    <table id="report" class="reoprt">
      <thead>
        <tr>
          <th>Serial (क्रम-संख्या)</th>
          <th>Ponit Sale (सेल पॉइंट)</th>
          <th>Buyer (खरीदार)</th>
          <th>CR(नगद)/DB (उधार)</th>
          <th>Vehicle Number (गाड़ी नंबर)</th>
          <th>Rokar Number (रोकड़)</th>
          <th>Unloading Date (अनलोडिंग तारीख)</th>
          <th>Weight (Metric-Tons) (वजन मीट्रिक टन )</th>
          <th>Rate(₹) (रेट)</th>
          <th>Total (₹) (टोटल)</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <!-- Add data rows here -->
        <% if (dataList  &&  dataList.length > 0 ) { %>
        <% for(let i = 0; i < dataList.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= dataList[i].seller %></td>
            <td><%= dataList[i].buyer %></td>
            <td><%= dataList[i].cr_dr == 'CR' ? 'नगद' : 'उधार' %></td>
            <td><%= dataList[i].vehiclenumber %></td>
            <td><%= dataList[i].rokar %></td>
            <td><%= dataList[i].unloaddt %></td>
            <td><%= dataList[i].weight %></td>
            <td><%= dataList[i].rate %></td>
            <td><%= dataList[i].total %></td>
          </tr>
        <% } %>
        <% } %>
      </tbody>

      <!-- tfoot tag specifies the footer of  
            this table and starts here -->
            <tfoot> 
              <tr> 
                <th>Total</th>
                <td>--</td> 
                <td>--</td> 
                <td>--</td> 
                <td>--</td> 
                <td>--</td> 
                <td>--</td>
                <td>--</td> 
                <td>--</td>
                <td><%=totalCollection%></td>
              </tr> 
          </tfoot> 
    </table>
    <%- include('common/footer'); %>
  </body>
</html>
