<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
    <link rel='stylesheet' type='text/css' href='/stylesheets/report.css' />
    <script src="/javascripts/report.js"></script>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1><%= message %></h1>
    <nav>
      <a href="/report/Loading_Reports">Loading Reports</a> |
      <a href="/report/Unoading_Reports">Unoading Reports</a>
    </nav>
    <!-- <a href="/report/" class="link-btn">Back</a> -->
    <table id="report" class="reoprt">
      <thead>
        <tr>
          <th>Serial (क्रम-संख्या)</th>
          <th>Ponit Sale (सेल पॉइंट)</th>
          <th>Buyer (खरीदार)</th>
          <th>CR(नगद)/DB (उधार)</th>
          <th>Vehicle Number (गाड़ी नंबर)</th>
          <th>Rokar Number (रोकड़)</th>
          <th>Loading Date (लोडिंग तारीख)</th>
          <th>Weight (Metric-Tons) (वजन मीट्रिक टन )</th>
          <th>Rate(₹) (रेट)</th>
          <th>Total (₹) (टोटल)</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <!-- Add data rows here -->
        <% if (loadingReport  &&  loadingReport.length > 0 ) { %>
        <% for(let i = 0; i < loadingReport.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= loadingReport[i].seller %></td>
            <td><%= loadingReport[i].buyer %></td>
            <td><%= loadingReport[i].cr_dr %></td>
            <td><%= loadingReport[i].vehiclenumber %></td>
            <td><%= loadingReport[i].rokar %></td>
            <td><%= loadingReport[i].loaddt %></td>
            <td><%= loadingReport[i].weight %></td>
            <td><%= loadingReport[i].rate %></td>
            <td><%= loadingReport[i].total %></td>
          </tr>
        <% } %>
        <% } %>
      </tbody>

      <!-- tfoot tag specifies the footer of  
            this table and starts here -->
            <tfoot> 
              <tr> 
                  <th>Total</th>
                  <td>₹180</td> 
                  <td>₹180</td> 
                  <td>₹255</td> 
                  <td>₹210</td> 
                  <td>₹340</td> 
                  <td>₹160</td>
                  <td>₹160</td> 
                  <td>₹160</td>
                  <td>₹160</td>
              </tr> 
          </tfoot> 
    </table>
    <%- include('common/footer'); %>
  </body>
</html>
