<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1><%= message %></h1>
    
    <nav>
      <a href="/report/Loading_Reports">Loading Reports</a> |
      <a href="/report/Unoading_Reports">Unoading Reports</a>
    </nav>
    <%- include('common/footer'); %>
  </body>
</html>
