<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

  </head>
  <body>
    <%- include('common/header'); %>
    <h1><%= message %></h1>
    <% if (reportData) { %>
     
      <div id="report">
        
      </div>
        
    <% } %>

    <script>
        const data = JSON.parse('<%- reportData %>');
        //console.log(data);
        const container = document.getElementById('report');
        const hot = new Handsontable(container, {
          data: data,
          rowHeaders: true,
          colHeaders: Object.keys(data[0]),
          columns: [
            { data: 'sale_point' },
            { data: 'buyer' },
            { data: 'cr_dr' },
            { data: 'vehiclenumber' },
            { data: 'rokar' },
            { data: 'loaddt' },
            { data: 'weight' },
            { data: 'rate' },
            { data: 'total' },
          ],
          stretchH: 'all',
          autoWrapRow: true,
          height: 400, // Set the desired height
          licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
        });
      //});
    </script>
    <%- include('common/footer'); %>
  </body>
</html>
