<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('common/meta'); %>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1><%= message %></h1>
    <%- include('common/footer'); %>
  </body>
</html>
